<main class="app-content">
    <div class="row">
        <div class="app-title">
            <div class="row" style="width: 100%;">
                <div class="col-md-6">
                    <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
                    <p><!--Modify current professor list--></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="widget-small primary coloured-icon">
                <i class="icon fa fa-calendar fa-3x"></i>
                <div class="info">
                    <h4>Time Tables created</h4>
                    <p><b>5</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="widget-small info coloured-icon">
                <i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                    <h4>Teachers</h4>
                    <p><b>25</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="widget-small warning coloured-icon">
                <i class="icon fa fa-university fa-3x"></i>
                <div class="info">
                    <h4>Rooms</h4>
                    <p><b>10</b></p>
                </div>
            </div>
        </div>
    </div>
</main>