<!-- modal -->
<main class="app-content">
    <div class="row">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-users"></i> Teacher</h1>
                <p><!--Modify current professor list--></p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <a class="btn btn-primary" ng-click="edit(-1)" style="color:white"><i class="fa fa-lg fa-plus" style="margin-top: -3px;"></i> Add Teacher</a>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="tile">
                <div class="overlay">
                    <div class="m-loader mr-4">
                        <svg class="m-circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                        </svg>
                    </div>
                    <h3 class="l-text">Loading</h3>
                </div>
                <div class="tile-body">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                            <tr role="row">
                                <th>Sr No</th>
                                <!--<th>User Id</th>-->
                                <th style="width:180px">Name</th>
                                <th>Maximum Supervisions</th>
                                <th>Reliver?</th>
                                <th>Stand By?</th>
                                <th>Department</th>
                                <th style="width:180px">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="au in AllUsers">
                                <td>{{$index + 1}}</td>

                                <!--<td>{{au.id}}</td>-->
                                <td style="text-align: left !important;">{{au.name}}</td>
                                <td>{{au.MaxSuperVision}}</td>
                                <td>{{au.AllowedReliver | GetCollegeCustomTextBoolean}}</td>
                                <td>{{au.AllowedStandBy | GetCollegeCustomTextBoolean}}</td>
                                <td>{{au.Department}}</td>
                                <td>
                                    <a class="btn btn-primary" ng-click="edit($index)" style="color:white"><i class="fa fa-lg fa-edit" style="margin-top: -3px;"></i> Edit</a>
                                    <a class="btn btn-primary" ng-click="delete($index)" style="color:white"><i class="fa fa-lg fa-trash" style="margin-top: -3px;"></i> Delete</a>
                                    <!--<button class="btn btn-secondary" type="button" >Delete</button>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ProfessorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel-2">
                            {{NewProf.name}}
                        </h4>
                    </div>
                    <form class="form-horizontal" id="ProfessorCreateForm">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Name:</label>
                                <div class="col-sm-12">
                                    <input type="text" data-validation="required" class="form-control" ng-model="NewProf.name" id="txt_name" placeholder="Enter Name" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="txt_MaxSupervision">Max Supervision:</label>
                                <div class="col-sm-12">
                                    <input type="number" data-validation="required" class="form-control" ng-model="NewProf.MaxSuperVision" id="txt_MaxSupervision" placeholder="Max Supervision" name="txt_MaxSupervision">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dd_AllowedReliver" class="control-label col-sm-4">Allowed Reliver</label>
                                <div class="col-sm-12">
                                    <select class="form-control" data-validation="required" id="dd_AllowedReliver">
                                        <option value="true" selected="selected">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dd_AllowedStandBy" data-validation="required" class="control-label col-sm-4">Allowed StandBy</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="dd_AllowedStandBy">
                                        <option value="true" selected="selected">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dd_Department" class="control-label col-sm-4">Department</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="dd_AllowedStandBy" ng-model="NewProf.Department">
                                        <!--<option value="" selected="selected">Select Department</option>-->
                                        <option ng-selected="true" value="">Select Department</option>
                                        <option ng-repeat="x in AllDepartment">{{x}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" style="color:white"><i class="fa fa-lg fa-check" style="margin-top: -3px;"></i>  Save</button>
                            <!--<a class="btn btn-primary" ng-click="create()" style="color:white"><i class="fa fa-lg fa-check" style="margin-top: -3px;"></i> Save</a>-->
                            <a class="btn btn-primary" style="color:white" data-dismiss="modal"><i class="fa fa-lg fa-times" style="margin-top: -3px;"></i> Cancel</a>
                        </div>
                    </form>
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div>


    </div>
</main>