
<div>
    <div class="row">
        <div class="col-md-3" ng-repeat="m in MenuData">
            <div class="box box-primary">
                <a href="{{m.URL}}">
                    <div class="box-header with-border">
                        <center><h3 class="box-title">{{m.Heading}}</h3></center>
                    </div>
                    <div class="box-body">
                        <center>
                            <i style="font-size:30px;" class="{{m.Icon}}"></i>
                        </center>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
