body {margin-top: 0px;margin-left: 0px; color: #000}
@page
{
    size: A4 landscape;
}

.page_1 {
    position: relative;
    overflow: hidden;
    margin: 139px 0 24px 48px;
    padding: 0;
    border: none;
    width: 1075px;
    page-break-after: always;
}

.page_1 .id1_1 {
    border: none;
    margin: 0;
    padding: 0;
    border: none;
    width: 1075px;
    overflow: hidden
}

.page_1 .id1_2 {
    border: none;
    margin: 11px 0 0 0;
    padding: 0;
    border: none;
    width: 1075px;
    overflow: hidden
}

.ft0 {
    font: bold 21px Arial;
    line-height: 24px
}

.ft1 {
    font: bold 18px Arial;
    line-height: 21px
}

.ft2 {
    font: bold 16px Arial;
    line-height: 19px
}

.ft3 {
    font: 1px Arial;
    line-height: 1px
}

.ft4 {
    font: bold 13px Arial;
    line-height: 16px
}

.ft5 {
    font: bold 14px Arial;
    line-height: 16px
}

.ft6 {
    font: 1px Arial;
    line-height: 4px
}

.ft7 {
    font: 13px Arial;
    line-height: 16px
}

.ft8 {
    font: 14px Arial;
    line-height: 16px
}

.ft9 {
    font: bold 19px Arial;
    line-height: 22px
}

.ft10 {
    font: 1px Arial;
    line-height: 12px
}

.ft11 {
    font: 1px Arial;
    line-height: 9px
}

.ft12 {
    font: bold 15px Arial;
    line-height: 18px
}

.ft13 {
    font: 10px Arial;
    line-height: 13px
}

.p0 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0
}

.p1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0
}

.p2 {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0
}

.p3 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p4 {
    text-align: left;
    padding-left: 67px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p5 {
    text-align: center;
    padding-left: 3px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p6 {
    text-align: left;
    padding-left: 34px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p7 {
    text-align: left;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p8 {
    text-align: left;
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p9 {
    text-align: center;
    padding-right: 1px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p10 {
    text-align: left;
    padding-left: 14px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p11 {
    text-align: center;
    padding-right: 2px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p12 {
    text-align: left;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p13 {
    text-align: center;
    padding-left: 7px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p14 {
    text-align: center;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p15 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p16 {
    text-align: center;
    padding-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p17 {
    text-align: center;
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p18 {
    text-align: center;
    padding-right: 53px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p19 {
    text-align: center;
    padding-right: 14px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p20 {
    text-align: center;
    padding-left: 43px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p21 {
    text-align: center;
    padding-left: 83px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p22 {
    text-align: right;
    padding-right: 128px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p23 {
    text-align: center;
    padding-right: 75px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p24 {
    text-align: right;
    padding-right: 71px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p25 {
    text-align: left;
    margin-top: 7px;
    margin-bottom: 0
}

.p26 {
    text-align: left;
    margin-top: 1px;
    margin-bottom: 0
}

.p27 {
    text-align: left;
    padding-left: 733px;
    margin-top: 24px;
    margin-bottom: 0
}

.p28 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0
}

.p29 {
    text-align: center;
    padding-left: 4px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p30 {
    text-align: right;
    padding-right: 137px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p31 {
    text-align: center;
    padding-right: 79px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p32 {
    text-align: right;
    padding-right: 95px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p33 {
    text-align: center;
    padding-left: 84px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p34 {
    text-align: center;
    padding-right: 240px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p35 {
    text-align: center;
    padding-left: 6px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p36 {
    text-align: center;
    padding-right: 76px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p37 {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p38 {
    text-align: right;
    padding-right: 3px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p39 {
    text-align: left;
    padding-left: 1px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p40 {
    text-align: right;
    padding-right: 2px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.p41 {
    text-align: right;
    padding-right: 31px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap
}

.td0 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 526px;
    vertical-align: bottom
}

.td1 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 61px;
    vertical-align: bottom
}

.td2 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 10px;
    vertical-align: bottom
}

.td3 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 109px;
    vertical-align: bottom
}

.td4 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 18px;
    vertical-align: bottom
}

.td5 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 133px;
    vertical-align: bottom
}

.td6 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 170px;
    vertical-align: bottom
}

.td7 {
    border-left: #000 1px solid;
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 106px;
    vertical-align: bottom
}

.td8 {
    padding: 0;
    margin: 0;
    width: 81px;
    vertical-align: bottom
}

.td9 {
    padding: 0;
    margin: 0;
    width: 53px;
    vertical-align: bottom
}

.td10 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 283px;
    vertical-align: bottom
}

.td11 {
    padding: 0;
    margin: 0;
    width: 61px;
    vertical-align: bottom
}

.td12 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 9px;
    vertical-align: bottom
}

.td13 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 126px;
    vertical-align: bottom
}

.td14 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 132px;
    vertical-align: bottom
}

.td15 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 105px;
    vertical-align: bottom
}

.td16 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 63px;
    vertical-align: bottom
}

.td17 {
    border-left: #000 1px solid;
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 106px;
    vertical-align: bottom
}

.td18 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 81px;
    vertical-align: bottom
}

.td19 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 324px;
    vertical-align: bottom
}

.td20 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 12px;
    vertical-align: bottom
}

.td21 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 9px;
    vertical-align: bottom
}

.td22 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 17px;
    vertical-align: bottom
}

.td23 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 132px;
    vertical-align: bottom
}

.td24 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 105px;
    vertical-align: bottom
}

.td25 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 63px;
    vertical-align: bottom
}

.td26 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 417px;
    vertical-align: bottom
}

.td27 {
    padding: 0;
    margin: 0;
    width: 109px;
    vertical-align: bottom
}

.td28 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 17px;
    vertical-align: bottom
}

.td29 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 53px;
    vertical-align: bottom
}

.td30 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 271px;
    vertical-align: bottom
}

.td31 {
    padding: 0;
    margin: 0;
    width: 134px;
    vertical-align: bottom
}

.td32 {
    padding: 0;
    margin: 0;
    width: 271px;
    vertical-align: bottom
}

.td33 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 12px;
    vertical-align: bottom
}

.td34 {
    border-left: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 107px;
    vertical-align: bottom
}

.td35 {
    border-left: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 107px;
    vertical-align: bottom
}

.td36 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 70px;
    vertical-align: bottom
}

.td37 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 189px;
    vertical-align: bottom
}

.td38 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 13px;
    vertical-align: bottom
}

.td39 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 180px;
    vertical-align: bottom
}

.td40 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 239px;
    vertical-align: bottom
}

.td41 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 64px;
    vertical-align: bottom
}

.td42 {
    border-left: #000 1px solid;
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 187px;
    vertical-align: bottom
}

.td43 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 270px;
    vertical-align: bottom
}

.td44 {
    padding: 0;
    margin: 0;
    width: 13px;
    vertical-align: bottom
}

.td45 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 179px;
    vertical-align: bottom
}

.td46 {
    padding: 0;
    margin: 0;
    width: 18px;
    vertical-align: bottom
}

.td47 {
    padding: 0;
    margin: 0;
    width: 239px;
    vertical-align: bottom
}

.td48 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 80px;
    vertical-align: bottom
}

.td49 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 270px;
    vertical-align: bottom
}

.td50 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 118px;
    vertical-align: bottom
}

.td51 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 80px;
    vertical-align: bottom
}

.td52 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 118px;
    vertical-align: bottom
}

.td53 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 108px;
    vertical-align: bottom
}

.td54 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 106px;
    vertical-align: bottom
}

.td55 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 65px;
    vertical-align: bottom
}

.td56 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 6px;
    vertical-align: bottom
}

.td57 {
    padding: 0;
    margin: 0;
    width: 65px;
    vertical-align: bottom
}

.td58 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 5px;
    vertical-align: bottom
}

.td59 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 5px;
    vertical-align: bottom
}

.td60 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 114px;
    vertical-align: bottom
}

.td61 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 114px;
    vertical-align: bottom
}

.td62 {
    padding: 0;
    margin: 0;
    width: 133px;
    vertical-align: bottom
}

.td63 {
    padding: 0;
    margin: 0;
    width: 106px;
    vertical-align: bottom
}

.td64 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 587px;
    vertical-align: bottom
}

.td65 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 62px;
    vertical-align: bottom
}

.td66 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 9px;
    vertical-align: bottom
}

.td67 {
    padding: 0;
    margin: 0;
    width: 62px;
    vertical-align: bottom
}

.td68 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 8px;
    vertical-align: bottom
}

.td69 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 8px;
    vertical-align: bottom
}

.td70 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 117px;
    vertical-align: bottom
}

.td71 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 117px;
    vertical-align: bottom
}

.td72 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 42px;
    vertical-align: bottom
}

.td73 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 11px;
    vertical-align: bottom
}

.td74 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 117px;
    vertical-align: bottom
}

.td75 {
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 52px;
    vertical-align: bottom
}

.td76 {
    padding: 0;
    margin: 0;
    width: 42px;
    vertical-align: bottom
}

.td77 {
    padding: 0;
    margin: 0;
    width: 11px;
    vertical-align: bottom
}

.td78 {
    border-right: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 52px;
    vertical-align: bottom
}

.td79 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 186px;
    vertical-align: bottom
}

.td80 {
    padding: 0;
    margin: 0;
    width: 186px;
    vertical-align: bottom
}

.td81 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 588px;
    vertical-align: bottom
}

.td82 {
    border-bottom: #000 1px solid;
    padding: 0;
    margin: 0;
    width: 724px;
    vertical-align: bottom
}

.tr0 {
    height: 26px
}

.tr1 {
    height: 23px
}

.tr2 {
    height: 4px
}

.tr3 {
    height: 22px
}

.tr4 {
    height: 36px
}

.tr5 {
    height: 12px
}

.tr6 {
    height: 9px
}

.tr7 {
    height: 25px
}

.tr8 {
    height: 24px
}

.t0 {
    width: 1027px;
    margin-top: 5px;
    font: 13px Arial
}

.t1 {
    width: 1027px;
    margin-top: 5px;
    font: 14px Arial
}