<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="mySqlConn" value="DRIVER={MySQL ODBC 3.51 Driver}; SERVER=localhost;PORT=3306;DATABASE=studentfeedback-sep16; UID=root; PASSWORD=sndt; OPTION=3" />
    <add key="folderPath" value="D:\VancoTechnologies\Code\StudentFeedback\Code\QuarterlyReports\data\Reports\" />
    <!--<add key="NNWCFeedbackConn" value="DRIVER={MySQL ODBC 3.51 Driver}; SERVER=localhost;PORT=3306;DATABASE=studentfeedback; UID=root; PASSWORD=root; OPTION=3"/>-->
    <add key="NNWCFeedbackConn" value="DRIVER={MySQL ODBC 3.51 Driver}; SERVER=localhost;PORT=3306;DATABASE=studentfeedback-sep16; UID=root; PASSWORD=sndt; OPTION=3" />
    <add key="dbConn" value="SERVER=localhost;PORT=3306;DATABASE=studentfeedback-sep16; UID=root; PASSWORD=sndt;" />
    <add key="NNWCFeedbackFolderPath" value="D:\VancoTechnologies\Code\StudentFeedback\Code\QuarterlyReports\UserData\" />
    <add key="CurrentSem" value="Even" />
    <add key="AcademicYear" value="2018-19" />
    <add key="101" value="MANIBEN NANAVATI WOMEN'S COLLEGE" />
    <add key="103" value="Bhanuben Nanavati Career Development Center" />
    <add key="105" value="Shri M.D. Shah Mahila College" />
    <!--<add key="NNWCFeedbackConn" value="DRIVER={MySQL ODBC 3.51 Driver}; SERVER=50.62.209.38;PORT=3306;DATABASE=FeedbackDB1; UID=feedbackuser1; PASSWORD=FeedB@ck#123; OPTION=3" />-->
    <!--<add key="NNWCFeedbackConn" value="DRIVER={MySQL ODBC 3.51 Driver}; SERVER=50.62.209.193;PORT=3306;DATABASE=MNWC-StudentFeedback; UID=StudentFeedback; PASSWORD=Admin@123; OPTION=3" />-->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    j
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>