*.suo
*.user
*.pubxml
Admissions/Self-Finance/.vs/AdmissionForm.API/v15/Server/sqlite3/db.lock
Admissions/Self-Finance/.vs/AdmissionForm.API/v15/Server/sqlite3/storage.ide
Admissions/Self-Finance/.vs/AdmissionForm.API/v15/Server/sqlite3/storage.ide-shm
Admissions/Self-Finance/.vs/AdmissionForm.API/v15/Server/sqlite3/storage.ide-wal
Admissions/Self-Finance/.vs/config/applicationhost.config
Admissions/Self-Finance/AdmissionForm.API/App_Data/BodyPart_21910533-1b6e-484f-ad94-b003552f8bcc
Admissions/Self-Finance/AdmissionForm.API/Controllers/formController - Copy.cs
Admissions/Self-Finance/AdmissionForm.API/Scripts/_references.js
Admissions/Self-Finance/AdmissionForm.API/App_Data/BodyPart_2fc26202-da23-4501-a930-631f10b0e639
Admissions/Self-Finance/AdmissionForm.API/App_Data/BodyPart_4a0907fb-14bd-4f09-b540-25f0b6059316
Admissions/Senior-College/SVT.API/Admin/dist/js/pages/-t
Bhaari/BhaariAPI/BhaariAPI/static/img/1413544967_move_alt2-128.png
Bhaari/BhaariAPI/BhaariAPI/static/img/1413544965_move_horizontal_alt2-128.png
Bhaari/Bhaari/wwwroot/static/img/1413544967_move_alt2-128.png
Bhaari/Bhaari/wwwroot/static/img/1413544965_move_horizontal_alt2-128.png
Admissions/Senior-College/.vs/SVT/v15/Server/sqlite3/db.lock
Admissions/Senior-College/.vs/SVT/v15/Server/sqlite3/storage.ide
Admissions/Senior-College/.vs/SVT/v15/Server/sqlite3/storage.ide-shm
Admissions/Senior-College/.vs/SVT/v15/Server/sqlite3/storage.ide-wal
Admissions/Senior-College/SVT.API/Admin/dist/js/common-10-06-18.js
Admissions/Senior-College/SVT.API/Admin/dist/js/common-27-06-18.js
Admissions/Senior-College/SVT.API/Admin/dist/js/pages/cutoffManagement-13-06-18.js
Admissions/Senior-College/SVT.API/Admin/dist/js/pages/cutoffManagement-23-06-18.js
Exam/Bachelors/CollegeExamService/.vs/CollegeExamService/v15/Server/sqlite3/db.lock
Exam/Bachelors/CollegeExamService/.vs/CollegeExamService/v15/Server/sqlite3/db.lock
Exam/Bachelors/CollegeExamService/.vs/CollegeExamService/v15/Server/sqlite3/storage.ide
Exam/Bachelors/CollegeExamService/.vs/CollegeExamService/v15/Server/sqlite3/storage.ide-shm