*{
	padding:0;
	margin:0;
	list-style:none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
ul,ol{
	margin:0px;
	padding:0px;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0px;
	padding:0px;
	color:#5c5c5c;
}
body{
	background-color:#eee;
}
.container {
	/* width: 1170px; */
}
.text-danger {
    color: #dc3545 !important;
}
.required-mark {
    color: #f00;
}
/* .svt_form{
	padding:20px;
	background: #fff;
} */
.wrapper_bg_img {
    background: url(../img/bg_1.jpg) no-repeat center center / cover;
    background-attachment: fixed;
    padding: 20px 0;
    height: 100%;
}
.top_title {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
}
.top_title a.navbar-brand {
    position: absolute;
    left: 0;
}
.top_title h1 {
    color: #fff;
}
.svt_form .form-group textarea {
    border: 1px solid #ced4da;
    resize: none;
    border-radius: 0;
}
h5.form_heading{
	margin-bottom:15px;
	color:#000;
	font-size: 16px;
	font-weight: 600;
}
.photo_upload {
	width: 200px;
	height: 200px;
	border: 1px solid #ced4da;
	padding: 10px;
	display: flex;
	display: -ms-flexbox;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px auto;
}
.inline_content{
	display: flex;
	display: -ms-flexbox;
	margin-top:15px;
}
.inline_content input {
    padding: 0;
    border: none;
	border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-bottom: 1px solid #ced4da !important;
	border-radius: 0;
	background: transparent;
	width: 60% !important;
}
.sig_grid input{
	padding: 0;
	border: none;
	border-bottom-color: currentcolor;
	border-bottom-style: none;
	border-bottom-width: medium;
	border-bottom: 1px solid #ced4da !important;
	border-radius: 0;
	background: transparent;
	width: 100% !important;
}
.sig_grid p{
	color:#000;
}
/* #contact_details {
    height: 40px;
} */
.photo_notice{
	margin-bottom:10px;
}
#alumini-submit{
	font-size:18px;
	padding:8px 30px;
}
#curent_org_section{
	display:none;
}
.refund-policy-wrapper ol li {
    list-style: decimal;
    margin-top: 10px;
}
.refund-policy-wrapper ol {
    margin-left: 20px;
}
.refund-policy {
    margin-top: 15px;
    margin-left: 5px;
}
@media only screen and (max-width:767px){
	.reverse_grid{
		-webkit-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.top_title a.navbar-brand{
		position:static;
	}
}




