<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="mySqlConn" value="DRIVER={MySQL ODBC 3.51 Driver}; SERVER=localhost;PORT=3306;DATABASE=roshnidb; UID=root; PASSWORD=root; OPTION=3" />-->
    <add key="mySqlConn" value="DRIVER={MySQL ODBC 3.51 Driver}; SERVER=50.62.209.193;PORT=3306;DATABASE=MNWC-Roshni; UID=roshni; PASSWORD=Admin@123; OPTION=3" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FromEmail" value="viren@itmonarch.com" />
    <add key="SMSKey" value="bJoR6cXhY6o-cqh74qelXo9WbTnOGKW7p8NGyvIbwq"/>
    <add key="OTPMessage" value="Your one time password for activating your Roshni account is {0}"/>
    <add key="EmergencyMessage" value="Hey, My mobile number is {0}. I need your urgent help. My Location is Latitude = {1}, Longitude = {2}."/>
    <add key="IsChatLive" value="false"/>
    <add key="DummyMessageEmail" value="viren@itmonarch.com"/>
    <add key="EmailHost" value="relay-hosting.secureserver.net"/>
    <add key="EmailPort" value="25" />
    <add key="UseDefaultCredentials" value="true"/>
    <add key="LogPath" value="G:\PleskVhosts\vancotech.info\httpdocs\RoshniApp"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>