<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="PostFileAPI" value="http://dscapuatebil/onlineDocDlvry/DSDocDelivery.asmx/" />
    <add key="SourcePath" value="D:\Developement\POCs\CSVDataFilter\Test\Source" />
    <add key="DataPath" value="D:\Developement\POCs\CSVDataFilter\Test\Data" />
    <add key="Logging" value="D:\Developement\POCs\CSVDataFilter\Logs" />
<add key="LastProcessedDate" value="10/2/2020" />
    <!--Logging -->
    <add key="Logging" value="D:\Opus\Projects\VAT\Utility\ElixirVATReceiptBookService\Logs"/>
  </appSettings>
</configuration>