
#MarksheetContainer {
	margin-left:40px;
}
.markstable{
 width: 100%

}
 .markstable thead tr td {
 border: 1px solid;
 border-left:0px;
 border-bottom:0px;
 font-size:12px;
} 
 .markstable tr td {
 border: 1px solid;
 border-left:0px;
 border-bottom:0px;
 font-size:10pt;
} 
.footerplace {
	width: 3%
	
}

body {
    font-family: Arial;
}

.markswrapper{
	color: black;
    border: 1px solid; 
	float: left;
	width:98%;
	max-height:50%;
	margin-left:1%;
	border-top: 0px;
}
.studentmarkstable{
	float: left;
	width:85%;
	max-height:100%;
}

.summarydiv
{
   
    float: left;
    width: 15%;
	max-height:50%;
	border-top: 1px solid;
	font-weight: bold;
	
}

.HeaderDetails {
    float: left;
    border: 1px solid #000;
    margin: 1%;
    width: 98%;
	text-transform: uppercase;
}

    .HeaderDetails .Logo {
        float: left;
        margin-left: 100px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

.HeaderDetailsName, .CollegeName, .Results {
    float: left;
    width: 85%;
    text-align: center;

}

.HeaderDetailsName {
    font-weight: bold;
    font-size: 18pt;	
    font-family: Arial;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	margin-top:10px;
	word-spacing: 5px;
}

.CollegeName {
    font-size: 14pt;
    font-weight: bold;
    font-family: Arial;
    padding-top: 10px;
	word-spacing: 5px;
}
.Results {
    font-size: 11pt;
    font-weight: bold;
    font-family: Arial;
    padding-top: 6px;
	word-spacing: 1px;
}

#StudentRecord {
    margin: 1%;
    width: 98%;
    float: left;
    margin-bottom: 0px;
    border: 1px solid #000;
    border-bottom: none;
	height: 2%;
	padding-top:0.5%;
}
    #StudentRecord span{
        float: left;
    } 
	/*#StudentRecord div {
        float: left;
        width:100px;
        font-weight: bold;
        font-family: Arial;
         margin-left: 10px;
        font-size: 13px;
    } */

.sname
	{
        float: left;
        width:25%;
        font-weight: bold;
        font-family: Arial;
        margin-left: 10px;
        font-size: 11px;
	}
	
.sdetails	
	{
        float: right;
        width:10%;
        font-weight: bold;
        font-family: Arial;
        /* margin-left: 10px; */
        font-size: 11px;
	}	
	
.idetails	
	{
        float: right;
        width:9%;
        font-weight: bold;
        font-family: Arial;
        /* margin-left: 10px; */
        font-size: 11px;
	}	
.cdetails	
	{
        float: right;
        width:22%;
        font-weight: bold;
        font-family: Arial;
        /* margin-left: 10px; */
        font-size: 13px;
	}		
.mdetails	
	{
        float: right;
        width:10%;
        font-weight: bold;
        font-family: Arial;
        /* margin-left: 10px; */
        font-size: 11px;
	}		
.pdetails	
	{
        float: right;
        width:15%;
        font-weight: bold;
        font-family: Arial;
        /* margin-left: 10px; */
        font-size: 11px;
	}	
.TotalRecord {
    font-weight: bold;
    font-family: Arial;
}

#StudentName, #SeatNumber, #Institution, #CenterName, #Medium, #PerRegNumber {
    float: left;	
	text-transform: uppercase;
    /* width: 100px; 
    min-width: 100px;*/
}

table {
    float: left;
    border-collapse: collapse;
   /*  border: 1px solid #000; */
}

    table thead tr td {
        font-weight: bold;
        padding: 5px;
        text-align: center;
        font-size: 13px;
        /* min-width: 90px; */
    }

    table tbody tr td {
        padding: 5px;
        text-align: center;
        font-size: 12px;
         min-width: 55px;
		 text-transform: uppercase;
    }

	
	
	
#MarkDetails {
    float: left;
    margin-left: 1%;
    width: 100%;
}

/*
.HeaderDetails, .CourseDetails, .ExamDetails {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 10%;
    font-size: 20px;
}*/
.CourseDetails {
    margin-top: 10px;
    font-size: 18px;
}

.ExamDetails {
    margin-top: 0px;
    font-size: 18px;
}

#StudentDetails {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.Medium {
    float: right;
    margin-right: 20px;
}

#ExamCenterDetails {
    float: left;
    font-size: 12px;
    width: 100%;
}

    #ExamCenterDetails div {
        float: left;
        width: 25%;
    }

#Marks, #SummaryDetails table {
    width: 100%;
    text-align: center;
}

#ResultSummary {
    float: left;
    border-left: 0px;
    width: 100%;
}

    #ResultSummary td {
        float: left;
        text-align: left;
		font-weight: bold;
    }

#FooterDetails {
    float: left;
    margin: 1%;
    width: 98%;
    border: none;
	margin-top:5%;
}


    #FooterDetails td {
        /* text-align: left;
        width: 30%; */
		font-size: 12pt;
    }

.Place {
    margin-top: 20px;
}

.Place, .Date {
    float: left;
    text-align: left;
    width: 100%;
}

.Principal {
    float: left;
    margin-top: 20px;
    width: 20%;
    margin-left: 15%;
}

.Controller {
    float: left;
    margin-top: 20px;
    width: 20%;
    margin-left: 30%;
}

.University {
    float: left;
    width: 25%;
    margin-left: 35%;
}

.FooterDetails {
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    font-size: 10px;
}

@media print {
    footer {page-break-after: always;}
}
