<div class="row">
    <div class="col col-lg-offset-3 col-lg-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Generate Marksheet</h3>
            </div>
            <form id="MarksheetGenerate">
                <div class="box-body">
                    <div class="form-group">
                        <label for="course">Course</label>
                        <select name="course" ng-change="GetSemester()" ng-model="user.course" id="course"
                                class="form-control" data-validation="required"
                                data-validation-error-msg="The Course field is required">
                            <option value="" selected="selected">--- Select ---</option>
                            <option value="bsc">BSc</option>
                            <option value="msc">MSc</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="specialization">Specialization</label>
                        <select name="specialization" ng-model="user.specialization" id="specialization" class="form-control" data-validation="required" data-validation-error-msg="The Specialization field is required">
                            <option value="" selected="selected" disabled="disabled">--- Select ---</option>
                            <option value="regular">Regular</option>
                            <option value="honors">Honors</option>
                            <option value="elective">Elective</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sem">Semester</label>
                        <select name="sem" id="sem" ng-model="user.sem" class="form-control" data-validation="required" data-validation-error-msg="The Semester field is required">
                            <option value="" selected="selected" disabled="disabled">--- Select ---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="examType">Exam Type</label>
                        <select name="examType" ng-model="user.examType" id="examType" class="form-control" data-validation="required" data-validation-error-msg="The Exam Type field is required">
                            <option value="" selected="selected" disabled="disabled">--- Select ---</option>
                            <option value="Regular">Regular</option>
                            <option value="ATKT">ATKT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="examType">Date</label>
                        <input type="text" id="SelectedDate" class="form-control datepicker" />
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group">
                        <!-- <button type="button" class="btn btn-primary pull-left">Print Blank Exam Form</button> -->
                        <button class="btn btn-primary pull-right">Generate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>