<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="LogPath" value="~/Logs/" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="BASE_URL" value="http://localhost:45117" />
    <add key="LogFileName" value="AppLogs.log" />
    <add key="LogFileSize" value="1" />
    <add key="LogLevel" value="Error" />
    <add key="LogDestination" value="file" />
    <add key="BASE_PATH" value="~" />
    <add key="USER_FOLDER_BASE_PATH" value="~/Directories/" />
    <add key="DMS_PATH" value="~/Directories/" />
    <add key="fileSize" value="MB" />
    <add key="MaxFileSize" value="1024" />
    <add key="Handler_UpdateFolderParent" value="http://localhost:45117/api/UpdateFolderParent.ashx?" />
    <add key="Handler_UpdateFileParent" value="http://localhost:45117/api/UpdateFileParent.ashx?" />
    <add key="IsUseNetworkPath" value="false" />
    <add key="superuserId" value="superuser" />
    <add key="superuserpwd" value="superuser" />
    <add key="LicFile" value="~/License/dms.lic" />
  </appSettings>
  <connectionStrings>
    <add name="con" connectionString="Server=localhost;Port=3306;Database=dmscollege1;Uid=root;Pwd=sndt;Pooling=false;Connect timeout=900;" />
    <add name="ConnString" connectionString="Server=localhost;Port=3306;Database=adminapps;Uid=root;Pwd=sndt;Pooling=false;Connect timeout=900;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>