<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AutoCheckoutMinutesToAdd" value="60"/>
    <add key="EnableLibraryCardUpdate" value="false"/>
    <add key="LocalPhotoFolder" value="Pictures"/>
    <add key="DownloadPhotoFolder" value="D:\\VancoTechnologies\\GIT\\VancoTechnologies\\LibraryTracker\\AttendanceTracker\\AttendanceTracker\\AttendanceTracker\\AttendanceTracker\\Pictures"/>
    <add key="RemotePhotoBaseUrl" value="http://svt.vancotech.com/uploads/senior/"/>
    <add key="RemotePhotoHardcodedPart" value="Photos"/>
    <add key="StudentDetailsAutoCloseSec" value="5"/>
    <add key="SyncBatchSize" value="500"/>
    <add key="SyncPushIntervalMinutes" value="60"/>
    <add key="SyncPushLogging" value="true"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="LocalContext" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3307;database=library;uid=root;password=sndt" />
    <add name="RemoteContext" providerName="MySql.Data.MySqlClient" connectionString="server=156.67.222.166;port=3306;database=u129046931_libr;uid=u129046931_libr;password=Admin@123" />
  </connectionStrings>
</configuration>