<style>
    .CollegeHeading {
        font-family: "Bahnschrift";
        font-size: 25px;
        text-align: center;
    }

    .CollegeHeading1 {
        font-family: "Bahnschrift";
        font-size: 18px;
        text-align: center;
    }

    .CollegeHeading2 {
        font-family: "Bahnschrift";
        font-size: 15px;
        text-align: center;
    }

    .Heading2SmallFont {
        font-family: 'Comic Sans MS',sans-serif,'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        text-align: center;
        font-size: 15px;
    }
</style>
<div class="row" style="padding:13px">
    <table>
        <tr>
            <td style="padding:5px">
                <img src="../../images/logo.png" style="padding:5px" />
            </td>
            <td style="padding:15px; padding-top:0px;width:78%">
                <div class="CollegeHeading1"> S.N.D.T Women's University</div>
                <div class="CollegeHeading"> Sir Vithaldas Thackersey College of Home Science</div>
                <div class="Heading2SmallFont"> (Autonomous)</div>
                <div class="CollegeHeading2">NAAC Re-accredited 'A' Grade</div>
                <div class="CollegeHeading2">UGC Honor - COllege with potential for Excellence</div>
            </td>
            <td style="padding:5px">
                <img src="../../images/shree_logo.png" style="padding:5px" />
            </td>
        </tr>
    </table>
    <hr style="border-top: 1px solid black; margin-top: 0px; " />
</div>