<div class="print-page-header">
    <div>
        <div class="row">
            <div class="col-md-2">
                <img src="images/Logo_smvmisce.png" alt="" style="margin-top: 10px; max-height: 90px;">
            </div>
            <div class="col-md-10">
                <div class="text-center">
                    <h4>Shree Mumbadevi Vidya Mandir</h4>
                    <h5>S V Road, Khar(W), Mumbai 400052.</h5>
                    <h5 id="NameOfExam">{{ExamNameToPrint}}</h5>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <hr>
</div>