<div class="print-page-header">
    <table style="width: 100%; font-size: 13px;">
        <tbody>
            <tr>
                <td><img src="images/logo.png" alt="" style="margin-top: 10px;"></td>
                <td>
                    <div class="text-center">
                        <h4>Sir Vithaldas Thackersey College of Home Science (Autonomous)</h4>
                        <h5>SNDT Women's University, Mumbai</h5>
                        <h5 id="NameOfExam">{{ExamNameToPrint}}</h5>
                    </div>
                </td>
                <td><img src="images/shree_logo.png" alt="" class="pull-right"></td>
            </tr>
        </tbody>
    </table>
    <div class="clearfix">
    </div>
    <hr>
</div>