<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="Server=50.62.209.193;Port=3306;Database=adminappcontroller;Uid=vancoadmin;Pwd=Admin@123;Pooling=false;Connect timeout=900;"/>
                                             
  </connectionStrings>
  <appSettings>
    <add key="BASE_URL" value="http://localhost:3456/"/>
    <add key="BASE_PATH" value="D:\VancoTechnologies\Code\Inventory\InventoryPortal"/>
  </appSettings>

  <system.web>
    <sessionState timeout="900"></sessionState>
    <httpRuntime maxRequestLength="16384" maxQueryStringLength="2097151" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
      </assemblies>
    </compilation>
    <trust level="Full"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
